%body
  .container
    .row
      .box
        .col-lg-12
          %hr
            %h2.intro-text.text-center
              %strong Approved Teams
            %hr
          %b Looking for more
          %p
          Marissa Miller & Shavon Williams
          (Developers)
          %br email marmiller@mills.edu
          %p
          Ruellia Zhang, Brenna Baker, James Wang
          %br
          (Developer, Designer, Project Manager)
          %br email jwang@mills.edu
          %p
          %b Looking for team
          %p
          Kat Xu
          (Developer/Designer)
          %br email kxu@mills.edu
          %p
          Juliana Hock
          (Developer)
          %br
          Interested in how computer science can be applied to language and art.
          %br email jhock@mills.edu
          %p
          Genesis Hernandez
          (Developer)
          %br
          Interested in using technology to empower underserved communities.
          %br email ghernandez@mills.edu