%body
  .container
    .row
      .box
        .col-lg-12
          %hr
            %h2.intro-text.text-center
              %strong Spring 2016 HackAThon Team
            %hr
          %h3 #{@team.project_name}
          %br
          %p Summary:
          %p #{@team.summary}