.container
  .row
    .box
      .col-lg-12
        %hr
          %h2.intro-text.text-center
            %strong Edit Officer
          %hr
        = render partial: 'layouts/officer_form', locals: {officer: @officer}