.container
  .row
    .box
      .col-lg-12
        %hr
          %h2.intro-text.text-center
            %strong Administration
          %hr
        = link_to "Manage tentative teams", tentative_teams_path
        %p
        = link_to "Manage officers", admin_officers_path