%body
  .container
    .row
      .box
        .col-lg-12
          %hr
            %h2.intro-text.text-center
              Our
              %strong members
            %hr
        %table#users
          %thead
            %tr
              %th User name
            %tbody
              - @users.each do |user|
                %tr
                  %td= link_to user.name, user_path(user.id)