%body
  .container
    .row
      .box
        .col-lg-12
          %hr
            %h2.intro-text.text-center
              A brief history of
              %strong Contributors
          %hr
            %ul
              %li Summer 2015:
              %ul
                %li
                  %a{:href => "https://www.linkedin.com/in/rkawula"} Rachel Kawula
                %li
                  %a{:href => "https://github.com/ruellia"} Ruellia Zhang
                %li
                  %a{:href => "https://www.linkedin.com/pub/brighid-wilhite/67/32b/a0b"} Brighid Wilhite
            %ul
              %li Spring 2015:
              %ul
                %li
                  %a{:href => "https://www.linkedin.com/in/rkawula"} Rachel Kawula
                %li
                  %a{:href => "https://www.linkedin.com/pub/winnie-cheung/a0/370/b18"} Winnie Cheung
                %li
                  %a{:href => "https://www.linkedin.com/pub/brighid-wilhite/67/32b/a0b"} Brighid Wilhite
                %li
                  %a{:href => "https://www.linkedin.com/pub/angelica-leyva-mcmurtry/a4/ab/bb3"} Angelica McMurtry
                %li
                  %a{:href => "https://www.linkedin.com/pub/ashley-ongsarte/67/b87/965"} Ashley Ongsarte
