%body
  .container
    .row
      .box
        .col-lg-12
          %hr
            %h2.intro-text.text-center
              Club
              %strong blog
            %hr
        .col-lg-12
          / Disable images until CDN is ready.
          - if false
            %img.img-responsive.img-border.img-full.img-rounded{:alt => "", src: @post.img_url}
          %h2.text-center
            #{@post.title}
            %br
              %small #{@post.created_at}
          - @post.contents.split("\n").each do |paragraph|
            %p #{paragraph}