%body
  .container
    .row
      .box
        .col-lg-12
          %hr
            %h2.intro-text.text-center
              %strong HackAThon FAQ
            %hr
        %strong Q: Do I need technical experience to be in the HackAThon?
        %p A: Nope! We are in need of more participants who have backgrounds other than tech. We especially desire interdisciplinary vision and goals. You will be placed on a team with participants who want to practice their technical skills.
        %br
        %p Non-technical participants will be in charge of leading the project by choosing topics, creating the presentation and pitch, mapping out the target users and design of the project, researching similar projects, and planning the features that would make your product stand out.
        %br
        %strong Q: Are there prizes?
        %p A: The winners will receive T-shirts!
        %br
        %strong Q: How does judging work?
        %p A: Teams will present their ideas (and possible demos) at the end of the day for three judges. There are four categories that will each have a winning team:
        %ol
          %li Most novel idea
          %li Most interdisciplinary idea
          %li Best business plan
          %li Best technical demo
        %br
        %p
          %a{:href => new_hackathon_team_path(@hackathon)} Register Here 
        %p
          %a{:href => hackathon_path(@hackathon)} Return to HackAThon Main Page
