%body
  .container
    .row
      .box
        .col-lg-12
          %hr
            %h2.intro-text.text-center
              %strong Tech4All HackAThon
            %hr
        %h3.text-center WHAT
        %p The first annual Mills Tech4All Hackathon, pioneered by the Mills Computer Club and the Mills Interdisciplinary Computer Engineers, is truly an event for ALL -- we welcome those who have little to no background in technology or product development. This is a hackathon rooted in ideas and creative thinking, tackling the problems around us, and using technology as a vehicle to discuss and create viable solutions. That is why we strongly emphasize the interdisciplinary aspect of the Mills computer science program. Creating a space that intertwines technology and interdisciplinary education empowers us to truly create solutions that address real-world problems.
        %br
        %p The theme of our hackathon is “Past. Present. Future.” The world is rapidly changing, and a lot of it is due to the fast-moving technology sector. The buzz word usually associated with tech is “disruption” -- but is “disruptive” necessarily “destructive”? We are living in a unique time, where we have a say in how we shape our future. The goal of our hackathon is to address and solve problems caused by a changing future coming into conflict with aspects of the past. What can we do to preserve the parts of our lives that are at risk of being lost? Instead of thinking about technology as disrupting our connection to the past, we invite you to find ways to use technology to address community issues, and honor our past while embracing the future.
        %br
        %h3.text-center WHO
        %p We invite teams of 4-5 with different backgrounds, interests, and scholastic focus. We want you to have passion, ideas, and bravery – ready to tackle real world questions that may have no easy or right answer, and to learn how to build solutions with new technologies.
        %br
        %p Every team requires:
        %ol
          %li Project Manager: What are you building? What is the projected life of your product (how will it grow)? How will it be supported (will it be monetized? seek investors? be a part of/become a non-profit)? How will you reach your audience? What are the key features of the product? Do you have competitors?
          %li Designer: How do you meet the HackAThon theme? Who is your target demographic? How will they benefit from this tool? What is the best look and feel for your users? What would the final product look like? How should this be marketed?
          %li Developer: How should the product be built? What technologies would be best to use, and why? Are there libraries that would be useful? Does the technology exist to create your product? For more advanced developers, can you make a demo?
        %br
        %h3.text-center WHERE
        %p GSB 101, with breakout spaces in GSB 117 and 118.
        %br
        %h3.text-center WHEN
        %p Saturday, April 2nd. Hacking begins at 8 AM and ends at 7 PM. Presentations will begin at 8 PM, and judging will be announced at 9 PM (depending on number of registrants).
        %br
        %h3.text-center EXAMPLE PROJECTS
        %br
        %strong Culinary Cultural Heritage website
        %p Problem: We cook less and eat out more due to the changing work environment. This causes families to lose traditional recipes that may not translate to paper.
        %p Solution: A website that allows users to log-in and submit video of their family members cooking traditional recipes. This website will use Youtube for video upload, but creates the interface for users to tag videos by keywords/hashtags, and easily search for different cultural, seasonal, religious, etc recipes.
        %p We target millennials who are trying to reclaim their cultural identities, and will monetize through advertising at first, and later form partnerships with companies such as Safeway.
        %br
        %strong Database for Environmentally-focused Products
        %p Problem: There are many products available for consumers to purchase, but many of these products contribute to increased global pollution and waste. Users may not be knowledgeable of what kinds of environmentally-focused products are out there.Products
        %p Solution: Create a website with a database that will provide users with a convenient one-stop location to browse environmentally-focused products as alternatives to commercial products that harm the environment. For example, if a user is looking to purchase plates, they can easily find and shop for eco-friendly, bio-degradable plates on our website.
        %p
          %a{:href => new_hackathon_team_path(@hackathon)} Register Here   
        %p
          %a{:href => hackathon_teams_path(@hackathon)} Current Teams
