%body
  .container
    .row
      .box
        .col-lg-12
          %hr
            %h2.intro-text.text-center
              %strong Hackathon 2016 Sponsors
            %hr
            %p.text-center Safeway, Inc.
            %br
            %p.text-center Food Mill
            %br
            %p.text-center Gap, Inc.
            %br
            %p.text-center Mills College Department of Mathematics & Computer Science
            %br
            %p.text-center Mills College Department of Sociology
            %br
            %p.text-center Mills College Graduate School of Business
            %br
            %p.text-center Dr. Dan Ryan and The Innovation Lab@Mills
            %br
            %br
            .text-center
              %p
                %a{:href => hackathon_path(@hackathon)} Return to HackAThon Main Page