%nav.navbar.navbar-default{:role => "navigation"}
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      / navbar-brand is hidden on larger screens, but visible when the menu is collapsed
      %a.navbar-brand{:href => root_path} Mills Computer Club
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.mills-nav
        %li
          %a{:href => root_path} Home          
        %li
          %a{:href => post_index_path} Blog
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Events
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => calendar_path} Calendar
            %li
              %a{:href => current_hackathon_path} HackAThon
            %li
              %a{:href => faq_path(@faq)} HackAThon FAQ
            %li
              %a{:href => hackathon_teams_path(@hackathon)} Approved teams
            %li
              %a{:href => new_hackathon_team_path(@hackathon)} Register
            - if admin?
              %li
                %a{:href => tentative_teams_path} Tentative teams
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Resources
            %span.caret
          %ul.dropdown-menu
            %li 
              %a{:href => resources_path} FAQ
            %li
              %a{:href => media_path} Media
            %li
              %a{:href => users_path} Members
            - if admin?
              %li
                %a{:href => admin_path} Admin