.col-lg-12.text-center{id: "post-#{post.id}"}
  %img.img-responsive.img-border.img-full.img-rounded{:alt => "", src: post.image.url}
  %h2
    #{post.title}
    %br
      %small #{post.created_date_readable}
  %br
  %a.btn.btn-default.btn-lg{href: post_path(post)} Read More
  %hr