!!!
%html
  %head
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .brand Mills Computer Club
    .address-bar 5000 MacArthur Boulevard | Oakland, CA 94613 | mcc@mills.edu
    / Navigation
    %nav.navbar.navbar-default{:role => "navigation"}
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          / navbar-brand is hidden on larger screens, but visible when the menu is collapsed
          %a.navbar-brand{:href => root_path} Mills Computer Club
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{:href => root_path} Home
            %li
              %a{:href => about_path} About Us
            %li
              %a{:href => blog_path} Blog
            %li
              %a{:href => events_path} Events
            %li
              %a{:href => projects_path} Projects
            %li
              %a{:href => achievements_path} Achievements
            %li
              %a{:href => resources_path} Resources
            %li
              %a{:href => contact_path} Contact
        / /.navbar-collapse
      / /.container
    = yield